rtgs-ws/src/main/resources/xsd/TransactionService.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS 
	RI 2.3.2-1 git-revision#dbe58a8. -->
<xsd:schema xmlns:ns0="http://soap.ogya.co.id/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://soap.ogya.co.id/">
	<xsd:complexType name="transferDana">
		<xsd:sequence>
			<xsd:element name="arg0" type="ns0:transferRequest"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transferDanaResponse">
		<xsd:sequence>
			<xsd:element name="return" type="ns0:transferResponse"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transferRequest">
		<xsd:sequence>
			<xsd:element name="accountNo" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="amount" type="xsd:long" minOccurs="0" />
			<xsd:element name="bankCode" type="xsd:long"
				minOccurs="0" />
			<xsd:element name="notes" type="xsd:string" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="transferResponse">
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="errorMessage" type="xsd:string"
				minOccurs="0" />
			<xsd:element name="referenceNumber" type="xsd:string"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="transferDana" type="ns0:transferDana" />
	<xsd:element name="transferDanaResponse"
		type="ns0:transferDanaResponse" />
	<xsd:element name="transferRequest"
		type="ns0:transferRequest" />
	<xsd:element name="transferResponse"
		type="ns0:transferResponse" />
</xsd:schema>